



:root {
    font-family: sans-serif, 'Times New Roman', Times, serif;
    font-size: 16px;
    --colour: black;
    --mainbgcolour: #fefae0;
    --bgcolour: #ccd5ae;
    --accentcolour: #e9edc9;
    --accentcolour2: #faedcd;

}

*,
*:before,
*:after {
    box-sizing: border-box;
}

small {
    font-size: 12px;

}

body {
    color: var(--colour);
    background-color: var(--bgcolour);
    margin: 0;


}

p {
    margin: 1em;
}

.center {
    text-align: center;
}

header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    margin: 3em 0em;
    border: 1px solid var(--colour);
    border-radius: 1em;
    background-color: var(--accentcolour2);
    padding: 1em;


}

.button {
    display: inline-block;
    padding: 1em 2em;
    background-color: var(--accentcolour);
    color: var(--colour);
    text-decoration: none;
    border-radius: 5px;
}



header .item {
    flex: initial;
    border: none;
    padding: 0em;

}
button{

    text-align: center;
    padding: 1em;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    text-align: center;

}


header h1 {
    text-align: center;

}


nav a:first-child {
    border-left:none;
}


main {
    background-color: var(--mainbgcolour);
    border: 1.25px solid var(--colour);
    border-radius: 1em;



}

.remove{
    border: none;
}

main>* {
    margin: 2em 1em;
}

table{
    border-collapse: collapse;
    margin: 0 auto;
    text-align: center;
}


table{
    margin-top: 1em;
    margin-bottom: 1em;
}
th,td{
    border: 1px solid black;
    padding: 0.5em;
}
input{
    margin: 0.5em 0 ;
    border: 0.25px solid var(--colour);
    border-radius: 0.25em;
}


nav {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
    border: 1px solid var(--colour);
    border-radius: 0.5em;
    background-color: var(--mainbgcolour);
    margin-bottom: 1em;

}

nav a {
    margin: 0.25em 0;
    padding: 0.25em;
    flex: auto;
    width: 100%;
    text-align: center;
    color: var(--colour);
    border-bottom: 1px solid var(--colour);
    padding: 1em;

}

nav a:hover {
    background-color: beige;


}
ol > li{
    margin-bottom: 0.5em;
}
a {
    text-decoration: none;
}

main figure {
    text-align: center;
}

img,
iframe {
    max-width: 100%;
}

video {
    max-width: 100%;


}

main img, video{
    border: 0.5px solid var(--colour);
    border-radius: 0.5em;
}


.flexbox section p{
    text-align: center;
}

.review {
    border: 1px solid var(--colour);
    border-radius: 0.5em;
    background-color: var(--accentcolour);
    margin: 1em 1.5em;
}



@media screen and (min-width: 480px) {

    nav {
        flex-direction: row;
        justify-content: space-evenly;
    }

    nav a {
        flex: 1;
        border-bottom: none;
        border-left: 1px solid var(--colour);


    }


    body {
        width: 90%;
        margin: 0 auto;
    }

    .flexbox {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 2em;
    }

    .flexbox>section {
        flex: 1 275px;
        margin: 2em 1em;

    }

    div>section>* {
        margin: 1em 2em;
    }





}

@media screen and (min-width: 1024px) {

    body {
        display: grid;
        grid-template-columns: 1fr 9fr;
        grid-template-areas: "top top"
            "ml mr"
            "bottom bottom";
        gap: 0.5em;
    }

    header {
        grid-area: top;
    }

    nav {
        grid-area: ml;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        align-self: start;
        justify-content: flex-start;
        margin-bottom: 1em;


    }

    main {
        grid-area: mr;
    }

    footer {
        grid-area: bottom;
    }

    nav a {
        border-top: 1px solid var(--colour);
        border-left: none;
        padding: 1em;



    }

    nav a:first-child{
        border-top: none;
    }


}

/*

html {
    background-color: paleturquoise;
}

body{
    width: 80%;
    margin: 0 auto;
    background-color: white ;
    border: 1px solid black;
}

header, footer{
    color: white;
    background-color: black;
    padding: 1em
}

header{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

nav {
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
    border: 1px solid black;
    border-radius: 0.5em;
    padding: 1em;
    margin-bottom: 1em;
}

nav a:any-link{
    border: 1px solid black;
    background-color: white;
    color:black;
    padding: 1em;
    text-decoration: none;
    flex: 1;

}

table{
    border-collapse: collapse;
    margin: 1em 0;
}

th,td{
    border: 1px solid black;
    padding: 0.5em;
}
input{
    margin: 0.5em 0 ;
}
main{
    padding: 2em;
}

