{% extends 'base.html' %}

{% block main_content %}

<p>Cookie image in the menu page was taken from <a href="https://www.flickr.com/photos/p3nnylan3/13971056208">Riana Ambarsari</a></p>
<p>Cake image in the menu page was taken from <a href="https://www.flickr.com/photos/djwtwo/8209069199">Dennis Wilkinson</a></p>
<p>Croissant image in the menu page was taken from <a href="https://commons.wikimedia.org/wiki/File:Croissant,_whole.jpg">SKopp</a></p>
<p>Pain Au Chocolat image in the menu page was taken from <a href="https://www.flickr.com/photos/like_the_grand_canyon/41355146654">Like_the_Grand_Canyon</a></p>
<p>Eclair image in the menu page was taken from <a href="https://commons.wikimedia.org/wiki/File:Eclair_Chocolat_LMDC_2.png">LMDCWIKI</a></p>
<p>Donut image in the menu page was taken from <a href="https://commons.wikimedia.org/wiki/File:7-Eleven_Sprinklelicious_Donut_%2826835533034%29.jpg">Willis Lam</a></p>
<p>Brownie image in the menu page was taken from <a href="https://commons.wikimedia.org/wiki/File:Chocolate-dessert-brownies-cake_%2823698710074%29.jpg">Byeznhpyxeuztibuo</a></p>
<p>Muffin image in the menu page was taken from <a href="https://www.flickr.com/photos/15216811@N06/5398771984">Nicola</a></p>
<p>Apple Tart image in the menu page was taken from <a href="https://commons.wikimedia.org/wiki/File:French_apple_tart_by_Gaeten_Lee.jpg">Wikimedia</a></p>
<p>Cheescake image in the menu page was taken from <a href="https://www.flickr.com/photos/cuttingboard/2699220126">Emily Carlin</a></p>
<p>Chocolate Biscuit Cake image in the menu page was taken from <a href="https://www.flickr.com/photos/bluebec/44676132490">Rebecca Dominguez </a></p>
<p>Baguette image in the menu page was taken from <a href="https://commons.wikimedia.org/wiki/File:Morning_baguettes.jpg">FlickrLickr</a></p>
<p>Bakery image in the Home page was taken from <a href="https://www.flickr.com/photos/infomofo/141332285">InfoMofo</a></p>

<p>
    The <a href="https://github.com/twitter/twemoji/blob/master/assets/svg/1f335.svg"> favicon emoji
        Graphics</a>
    are from the open source project <i>Twemoji</i>
</p>

<p>All of these images are licensed under the <a href="https://creativecommons.org/licenses/by-nc-sa/2.0/">Creative Commons License</a></p>












{%endblock%}