{% extends "base.html" %}

{% block main_content %}

{% if tickets %}
<table>
    <tr>
        <th scope="col">Ticket Number</th>
        <th scope="col">Creation Date</th>
        {% if g.is_admin %}
            <th scope="col">Username</th>
        {%endif%}
        <th scope="col">Subject</th>
    </tr>
    {% for ticket in tickets %}
        <tr>
            <td>{{ticket['ticket_num']}}</td>
            <td>{{ticket['ticket_datetime']}}</td>
            {% if g.is_admin %}
            <td>{{ticket['user_id']}}</td>
            {%endif%}
            <td>{{ticket['subject']}}</td>
            <td class="remove"><a href="{{url_for('view_ticket_details', ticket_id = ticket['ticket_num'])}}" class="button">View Details</a></td>
        </tr>
    {%endfor%}
</table>
{%else%}
{% if g.is_admin %}
<p class="center">All tickets have been handled!</p>
{%else%}
<p class="center">You have not created any tickets!</p>
{%endif%}
{%endif%}
{%endblock%}